.right {
    position: Phạm Văn Tú - 2121050628  absolute;
    right: Phạm Văn Tú - 2121050628  0px;
    width: Phạm Văn Tú - 2121050628 300px;
    border: Phạm Văn Tú - 2121050628 3px solid #73AD21;
    padding: Phạm Văn Tú - 2121050628 10px;
} 