h1 {
    background-color: Phạm Văn Tú - 2121050628  green;
}

div {
    background-color: Phạm Văn Tú - 2121050628  lightblue;
}

p {
    background-color: Phạm Văn Tú - 2121050628 
     Phạm Văn Tú - 2121050628 }