 div {
    width: Phạm Văn Tú - 2121050628  320px;
    height: Phạm Văn Tú - 2121050628  50px;
    padding: Phạm Văn Tú - 2121050628 10px;
    border: Phạm Văn Tú - 2121050628  5px solid gray;
    margin: Phạm Văn Tú - 2121050628  0;
}