 div {
    float:Phạm Văn Tú - 2121050628  left;
    padding: Phạm Văn Tú - 2121050628  15px;
}

.div1 {
    background: Phạm Văn Tú - 2121050628  red;
}

.div2 {
    background: Phạm Văn Tú - 2121050628 yellow;
}

.div3 {
    background: Phạm Văn Tú - 2121050628  green;
}