.p1 {
    font-family:Phạm Văn Tú - 2121050628  "Times New Roman", Times, serif;
}

.p2 {
    font-family: Phạm Văn Tú - 2121050628  Arial, Helvetica, sans-serif;
}

.p3 {
    font-family: Phạm Văn Tú - 2121050628  "Lucida Console", "Courier New", monospace;
}