 input[type=text] {
    width: Phạm Văn Tú - 2121050628  100%;
    padding: Phạm Văn Tú - 2121050628  12px 20px;
    margin: Phạm Văn Tú - 2121050628  8px 0;
    box-sizing: Phạm Văn Tú - 2121050628  border-box;
}