body {
    background-color: Phạm Văn Tú - 2121050628  lightblue;
}

h1 {
    color: Phạm Văn Tú - 2121050628  white;
    text-align: center;
}

p {
    font-family: Phạm Văn Tú - 2121050628  verdana;
    font-size: 20px;
}