Phạm Văn Tú - 2121050628 <html><head><style>div.gallery {
    margin: Phạm Văn Tú - 2121050628  5px;
    border: Phạm Văn Tú - 2121050628 1px solid #ccc;
    float: Phạm Văn Tú - 2121050628 left;
    width: Phạm Văn Tú - 2121050628 80px;
}Phạm Văn Tú - 2121050628 

div.gallery:hover {
    border: Phạm Văn Tú - 2121050628  1px solid #777;
}

div.gallery img {
    width: Phạm Văn Tú - 2121050628  100%;
    height: Phạm Văn Tú - 2121050628  auto;
}

div.desc {
    padding: Phạm Văn Tú - 2121050628  15px;
    text-align: Phạm Văn Tú - 2121050628  center;
}

</style></head><body><div class="gallery"><a target="_blank" href="img_5terre.jpg"><img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400"></a><div class="desc">Add a description of the image here</div></div><div class="gallery"><a target="_blank" href="img_forest.jpg"><img src="img_forest.jpg" alt="Forest" width="600" height="400"></a><div class="desc">Add a description of the image here</div></div><div class="gallery"><a target="_blank" href="img_lights.jpg"><img src="img_lights.jpg" alt="Northern Lights" width="600" height="400"></a><div class="desc">Add a description of the image here</div></div><div class="gallery"><a target="_blank" href="img_mountains.jpg"><img src="img_mountains.jpg" alt="Mountains" width="600" height="400"></a><div class="desc">Add a description of the image here</div></div></body></html>