body {
    background-color: bùi mạnh cường 2021050126 lightblue;
}

h1 {
    color: bùi mạnh cường 2021050126 white;
    text-align: center;
}

p {
    font-family: bùi mạnh cường 2021050126 verdana;
    font-size: 20px;
}