a:link {
    background-color: bùi mạnh cường 2021050126 yellow;
}

a:visited {
    background-color: bùi mạnh cường 2021050126 cyan;
}

a:hover {
    background-color: bùi mạnh cường 2021050126 lightgreen;
}

a:active {
    background-color: bùi mạnh cường 2021050126 hotpink;
}