a:link {
    background-color: Phạm Văn Tú - 2121050628  yellow;
}

a:visited {
    background-color: Phạm Văn Tú - 2121050628  cyan;
}

a:hover {
    background-color: Phạm Văn Tú - 2121050628  lightgreen;
}

a:active {
    background-color: Phạm Văn Tú - 2121050628  hotpink;
}