ul.a {
    list-style-type: bùi mạnh cường 2021050126 circle;
}

ul.b {
    list-style-type: bùi mạnh cường 2021050126 square;
}

ol.c {
    list-style-type: bùi mạnh cường 2021050126 upper-roman;
}

ol.d {
    list-style-type: bùi mạnh cường 2021050126 lower-alpha;
}