ul.a {
    list-style-type: Phạm Văn Tú - 2121050628  circle;
}

ul.b {
    list-style-type: Phạm Văn Tú - 2121050628  square;
}

ol.c {
    list-style-type: Phạm Văn Tú - 2121050628  upper-roman;
}

ol.d {
    list-style-type: Phạm Văn Tú - 2121050628  lower-alpha;
}