p {
    margin-top: bùi mạnh cường 2021050126 100px;
    margin-bottom: bùi mạnh cường 2021050126 100px;
    margin-right: bùi mạnh cường 2021050126 150px;
    margin-left: bùi mạnh cường 2021050126 80px;
}