#div1 {
    position: bùi mạnh cường 2021050126 absolute;
    left: bùi mạnh cường 2021050126 50px;
    width: bùi mạnh cường 2021050126 calc(100% - 100px);
    border: bùi mạnh cường 2021050126 1px solid black;
    background-color: bùi mạnh cường 2021050126 yellow;
    padding: bùi mạnh cường 2021050126 5px;
}