#div1 {
    position: Phạm Văn Tú - 2121050628  absolute;
    left: Phạm Văn Tú - 2121050628  50px;
    width:Phạm Văn Tú - 2121050628  calc(100% - 100px);
    border: Phạm Văn Tú - 2121050628  1px solid black;
    background-color:Phạm Văn Tú - 2121050628  yellow;
    padding: Phạm Văn Tú - 2121050628  5px;
}