div.ex1 {
    width: bùi mạnh cường 2021050126 500px;
    margin: bùi mạnh cường 2021050126 auto;
    border: bùi mạnh cường 2021050126 3px solid #73AD21;
}

div.ex2 {
    max-width: bùi mạnh cường 2021050126 500px;
    margin: bùi mạnh cường 2021050126 auto;
    border: bùi mạnh cường 2021050126 3px solid #73AD21;
}