div.ex1 {
    width: Phạm Văn Tú - 2121050628  500px;
    margin: Phạm Văn Tú - 2121050628  auto;
    border: Phạm Văn Tú - 2121050628  3px solid #73AD21;
}

div.ex2 {
    max-width: Phạm Văn Tú - 2121050628  500px;
    margin: Phạm Văn Tú - 2121050628  auto;
    border: Phạm Văn Tú - 2121050628  3px solid #73AD21;
}