p.dotted {
    outline-style: bùi mạnh cường 2021050126 dotted;
}

p.dashed {
    outline-style: bùi mạnh cường 2021050126 dashed;
}

p.solid {
    outline-style: bùi mạnh cường 2021050126 solid;
}

p.double {
    outline-style: bùi mạnh cường 2021050126 double;
}

p.groove {
    outline-style: bùi mạnh cường 2021050126 groove;
}

p.ridge {
    outline-style: bùi mạnh cường 2021050126 ridge;
}

p.inset {
    outline-style: bùi mạnh cường 2021050126 inset;
}

p.outset {
    outline-style: bùi mạnh cường 2021050126 outset;
}