div {
    padding-top: bùi mạnh cường 2021050126 50px;
    padding-right: bùi mạnh cường 2021050126 30px;
    padding-bottom: bùi mạnh cường 2021050126 50px;
    padding-left: bùi mạnh cường 2021050126 80px;
}