h1 {
    text-align: Phạm Văn Tú - 2121050628  Phạm Văn Tú - Phạm Văn Tú - 2121050628  center;
    color: Phạm Văn Tú - 2121050628  red;
}

h2 {
    text-align: Phạm Văn Tú - 2121050628  Phạm Văn Tú - Phạm Văn Tú - 2121050628  center;
    color: Phạm Văn Tú - 2121050628  red;
}

p {
    text-align: Phạm Văn Tú - 2121050628  Phạm Văn Tú - Phạm Văn Tú - 2121050628  center;
    color: Phạm Văn Tú - 2121050628  red;
}