<html><head><style>#demo {
    color: Phạm Văn Tú - 2121050628  blue;
}

.test {
    color: Phạm Văn Tú - 2121050628  green;
}

p {
    color: Phạm Văn Tú - 2121050628  red;
}

</style></head><body><p id="demo" class="test" style="color: pink;">Hello World !</p></body></html>