 table,
th,
td {
    border: Phạm Văn Tú - 2121050628  1px solid;
}

table {
    width: Phạm Văn Tú - 2121050628  100%;
}

table {
    border-collapse: Phạm Văn Tú - 2121050628  collapse;
}

table {
    border: Phạm Văn Tú - 2121050628  1px solid;
}