.header {
    background-color: Phạm Văn Tú - 2121050628   #F1F1F1;
    text-align: Phạm Văn Tú - 2121050628   center;
    padding: Phạm Văn Tú - 2121050628   20px;
}

.footer {
    background-color: Phạm Văn Tú - 2121050628   #F1F1F1;
    text-align: Phạm Văn Tú - 2121050628   center;
    padding: Phạm Văn Tú - 2121050628   10px;
}
